<%= erb :header%>
    <h1><%= @title || "testSinatra" %></h1>

    <div class="notice">
      <% if flash[:notice] %>
        <%= flash[:notice] %>
      <% end %>
    </div>  

      <%= yield %>
<%= erb :footer%>
